$black: #1c2128;
$white: #cdd9e5;
$grey-0: #cdd9e5;
$grey-1: #adbac7;
$grey-2: #909dab;
$grey-3: #768390;
$grey-4: #636e7b;
$grey-5: #545d68;
$grey-6: #444c56;
$grey-7: #373e47;
$grey-8: #2d333b;
$grey-9: #22272e;