/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'colors';

html, body {
  background: $grey-7;
  color: $white;
}

#main {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.notice {
  color: lightgreen;
}

.error {
  color: red;
}

.card {
  border-radius: 1rem;
  border: 1px solid $grey-2;
  padding: 1rem;
  margin: 1rem;
}

.m-top {
  margin-top: .75rem;
}

a {
  border-radius: .25rem;
  padding: .25rem;
  background-color: $grey-5;
  color: $white;
  text-decoration: none;
}

a:hover {
  background-color: $grey-7;
}

a:active {
  background-color: $black;
}

.button-container {
  margin: 1rem;
}

.radio {
  display: block;
}